@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
    align-items: center;
    margin:0;
    font: 600 18px 'Source Sans Pro', sans-serif;
    letter-spacing: 0.64px;
    color: #585d74;
    padding: 2%;
    background: url("./images/bluePaws.png");
    /* background: url('{{ STATIC_URL }}pimpin_app/example.jpg' */
    background-color: #3b3d79;
  
}

.section {
    background-color: #f1f1f1;
    margin: 40px auto;
    /* width: 350px; */
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
    padding: 20px;
}

.section h1{
    background-image: linear-gradient(to bottom, #375BDC, #4D70EF);
    background-color:#375BDC;
    color:#ffffff;
    padding:20px;
    border-radius: 5px;
}

.section h2{
    background-image: linear-gradient(to bottom, #375BDC, #4D70EF);
    background-color:#375BDC;
    color:#ffffff;
    padding:20px;
    border-radius: 5px;
}


.buttons {
    margin-top: 3%;
    background-color: #375BDC;
    color: #ffffff !important;
    border-color: #375BDC;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
    text-decoration: none !important;
}

