{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'furever.css' %}">
    <title>Furever Homes</title>
</head>
<body>

    <div class="topnav">   
        <a href="{% url 'pimpin' %}">Home</a>
        <h2>Furever Homes</h2>
    </div>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>

    <div class="mycard">
        <h3>Put a pet(s) up for adoption</h3>
        <form method="POST" action="{% url 'furever' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" name="create" value="Create" id="createButton"/>
        </form>
    </div>
    
    <div class="tagcard">
        <h3>Some pets looking for homes!</h3>
            <ul>
            {% for post in thread %}
            <li><a href="{% url 'adoption' post.id %}">{{ post.pet_info }}</a></li>
            {% endfor %}        
        </ul>
    </div>

    {% else %}

    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>

    {% endif %}
    


    <!-- <div class="tagcard">
        <h3>Some pets looking for homes!</h3>
        <ul>
            {% for pet in pets_list %}
            <li>{{ pet.name }}</li>
            {% endfor %}
        </ul>
    </div> -->

</body>
</html>