<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furever Homes</title>
</head>
<body>
    
    <h1>Furever Homes</h1>
    <hr>

    <h2>Put one up for adoption</h2>
    <form method="POST" action="{% url 'furever' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="create" value="Create" />
    </form>

    <ul>
        {% for post in thread %}
        <li><a href="{% url 'adoption' post.id %}">{{ post.first_name }}</a></li>
        {% endfor %}
        
    </ul>

    <ul>
        {% for pet in pets_list %}
        <li>{{ pet.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>