<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pimpin Pets</title>
</head>
<body>
    
    <h1>Pimpin' Pets</h1>

    <img>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quae culpa cum eaque ducimus modi architecto perspiciatis mollitia iste fuga.</p>

    <hr>

    <h2>Furever Homes</h2>

    <img>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque hic nulla molestias odit repellendus ducimus quia laborum tenetur, harum facilis.</p>

    <hr>

    <h2>What's your Pawference?</h2>

    <img>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quisquam quasi error beatae at adipisci doloremque odio, qui nihil unde!</p>

    <hr>

    <button>Back to Top</button>



</body>
</html>