<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pimpin Pets</title>
</head>
<body>
    
    <h1>Pimpin' Pets</h1>

    <img src="pimpin_main\pimpin_app\static\images\frenchy1.jpg" alt="French Bulldog puppy">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quae culpa cum eaque ducimus modi architecto perspiciatis mollitia iste fuga.</p>

    <hr>

    <h2>Furever Homes</h2>

    <img src="pimpin_main\pimpin_app\static\images\kitty2.jpg" alt="Kitten on dog's head">


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque hic nulla molestias odit repellendus ducimus quia laborum tenetur, harum facilis.</p>

    <hr>

    <h2>What's your Pawference?</h2>

    <img src="pimpin_main\pimpin_app\static\images\frenchy2.jpg" alt="French Bulldog Puppy">


    <p>
        Looking for a puppy play pal, does your furry friend need one of his own? 
        Find other animal lovers looking to do the same! Connect and make some new memories and friendships!
    </p>

    <button><a href="{% url 'pawfrence' %}">Click Here</a></button> to make some new friends!

    



</body>
</html>