{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Pimpin Pets</title>
</head>
<body>


    <div class="section">
        <h1>Pimpin' Pets</h1>

        <!-- <img src="pimpin_main\pimpin_app\static\images\frenchy1.jpg" alt="French Bulldog puppy"> -->
        <img src="{% static 'images/frenchy1.jpg' %}" alt="French Bulldog puppy">
    
        <h3>Welcome to Pimpin' Pets. </h3>
        <p>We are committed to helping you find your new best friend, or make new playmates!</p>
        <button class="buttons"><a href="{% url 'signup' %}">Click Here</a></button> to signup!
        <button class="buttons"><a href="{% url 'login' %}">Click Here</a></button> to login!
        <p>Please Login or Signup to continue to the site. We look forward to having you!</p>
    </div>
    {% if user.is_authenticated %}

    <div class="section">
        <h2>Furever Homes</h2>
    
        <img src="{% static 'images/kitty2.jpg' %}" alt="Kitten on dog's head">
    
    
        <p>
            Some furbabies are looking for a new home. Are you ready for your complete home?
        </p>
        <button class="buttons"><a href="{% url 'furever' %}">Click Here</a></button> to see who wants a home!
    </div>       
    
    <div class="section">
        <h2>What's your Pawference?</h2>
    
        <img src="{% static 'images/frenchy2.jpg' %}" alt="French Bulldog Puppy">    
    
        <p>
            Looking for a puppy play pal, does your furry friend need one of his own? 
            Find other animal lovers looking to do the same! Connect and make some new memories and friendships!
        </p>
    
        <button class="buttons"><a href="{% url 'pawfrence' %}">Click Here</a></button> to make some new friends!
    </div>
    {% endif %}
</body>
</html>