{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Signup</title>
</head>
<body>

  <div class="topnav">
    <h1>Welcome to Pimpin' Pets</h1>
    <p>Please login to continue</p>
  </div>

  <div class="card">
    <h2>Log In</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="submit"type="submit">Log In</button>
    </form>
    <button class="login"><a href="{% url 'signup' %}">Or click Here</a></button> to Signup!
  </div>

