<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Detail</title>
</head>
<body>
    <h3><a href="{% url 'pawfrence' %}">Back</a></h3>
    
    <h3><a href="{% url 'pimpin' %}">Home</a></h3>

    <h2>Message Detail</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" name="update" value="Update" />
        <input type="submit" name="delete" value="Delete" />
    </form>

    <br>

    <form method="POST">
        {% csrf_token %}
        {{ tag_form }}
        <br>
        <input type="submit" name="add" value="Add" />
    </form>
    

    <ul>
        {% for tag in tag_list %}
        <li>{{ tag.body}}</li>
        {% endfor %}
    </ul>

    <img src="pimpin_main\pimpin_app\static\images\frenchy3.jpg" alt="French Bulldog Puppy">



</body>
</html>