{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'message.css' %}">
    <title>Message Detail</title>
</head>
<body>
    <div class="topnav">
        <a href="{% url 'pawfrence' %}">Back</a>    
        <a href="{% url 'pimpin' %}">Home</a>
        <h2>Message Detail</h2>
    </div>
    
    <div class="mycard">
        <h3>Update or Delete your Message</h3>
        <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" name="update" value="Update" id="updateButton"/>
        <input type="submit" name="delete" value="Delete" id="deleteButton"/>
        </form>
    </div>


    <br>

    <div class="tagcard">
        <h3>Add Your Tag Here</h3>
        <form method="POST">
            {% csrf_token %}
            {{ tag_form }}
            <br>
            <input type="submit" name="add" value="Add" id="addButton"/>
        </form>
    </div>
    

    <ul>
        {% for tag in tag_list %}
        <li>{{ tag.body}}</li>
        {% endfor %}
    </ul>

    



</body>
</html>