{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'love.css' %}">
    <title>Needing Love</title>
</head>
<body>
    
    <div class="topnav">
        <a href="{% url 'furever' %}">Back</a>
        <a href="{% url 'pimpin' %}">Home</a>
        <h1>Furbabies Needing Love</h1>
    </div>

    <div class="mycard">
        <h3>Update or Delete your Post</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <img src="{{ post.img.url }}" style="height: 80px;width: 80px;">
            <input type="submit" name="update" value="Update" id="updateButton"/>
            <input type="submit" name="delete" value="Delete" id="deleteButton"/>
        </form>
    </div>

    <br>
<!-- need to link tags in order to get add to work properly -->
    <!-- <form method="POST">
        {% csrf_token %}
        {{ tag_form }}
        <input type="submit" name="add" value="Add" />
    </form> -->





</body>
</html>