<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawfrence</title>
</head>
<body>
    
    <h1>Pawfrence</h1>

    <img>
    <hr>
    
    <ol>
        <strong><em>What's your pawfrence?:</em></strong>
        <li>Choose your potential fur baby!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, non.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, non.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, non.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, non.</li>
    </ol>

    <hr>

    




</body>
</html>