<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawfrence</title>
</head>
<body>

    <h1>Pawfrence</h1>

    <!-- <img> -->
    <hr>
    <container class="message_box">

        <form method="POST" action="{% url 'pawfrence' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="create" value="Create" />
        </form>
    </container>


    <hr>

    <p>Previously Contacted

    </p>
    <ul>
        {% for message in conversation %}
        <li><a href="{% url 'message_detail' message.id %}">{{ message.first_name}}</a></li>
        {% endfor %}
    </ul>

    <hr>

    




</body>
</html>