<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mycard">
        <h3>Put a pet up for adoption</h3>
        <form method="POST" action="{% url 'furever' %}">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" name="create" value="Create" id="createButton"/>
        </form>
    </div>
</body>
</html>